*.dat
*.exe
*.smx
*.inc
*.vscode
*.code-workspace
*.sp
*.sql
[Cc]compiled/
[Dd]esktop.ini
[Tt]humbs.db

# Excluded Files:

#Compiled Plugins
!addons/sourcemod/plugins/chaos_fortress.smx
!addons/sourcemod/plugins/cf_abilities/cf_generic_abilities.smx
!addons/sourcemod/plugins/cf_abilities/cf_mercenary.smx
!addons/sourcemod/plugins/cf_abilities/cf_soundpack.smx

#Source Code
!chaos_fortress.sp
!cf_*.sp

#Include Files
!cf_include.inc
!cf_stocks.inc
!tf_player_collisions.inc
addons/sourcemod/scripting/compile.sh
addons/sourcemod/scripting/spcomp64
addons/sourcemod/scripting/cf_npc_tester.sp
addons/sourcemod/configs/chaos_fortress/stupid_heavy.cfg
